<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger!</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
</head>
<body>

    <div class="container">
        {{{body}}}
    </div>

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery.js"></script>

<!-- External JavaScript -->
<script src="/assets/js/burgers.js"></script>
</body>
</html>