<img src="/assets/img/burger.png" alt="tiny bob holding his burger in a red and white checkered apron" />

<h1>Eat-Da-Burger!</h1>

{{!-- UNDEVOURED --}}
<ul>
    {{#each burgers}}
        {{#unless this.devoured}}
            <li>
                {{this.burger_name}}

                <form method="POST" action="burgers/update/{{this.id}}?_method=PUT">
                    <input type="hidden" name="devoured" value="true" />
                    <button type="submit" id="devour">Devour it!</button>
                </form>

                {{!-- {{> burgers/delete-burger}} --}}
            </li>
        {{/unless}}
    {{/each}}
</ul>

{{!-- DEVOURED --}}
<ul>
    {{#each burgers}}
        {{#if this.devoured}}
            <li>
                {{this.burger_name}}

                <form method="POST" action="burgers/update/{{this.id}}?_method=PUT">
                    <input type="hidden" name="devoured" value="false" />
                    <button type="submit">Throw it up!</button>
                </form>
            </li>
        {{/if}}
    {{/each}}
</ul>

<form method="POST">
    <input type="text" name="burger" id="burger-name" />
    <button type="submit" id="create-burger">Submit</button>
</form>

<p>
    Enter a burger you want to eat,<br />
    then click "Submit"!
</p>