<img src="../public/assets/img/burger.png" alt="tiny bob holding his burger in a red and white checkered apron" />

<h1>Eat-Da-Burger!</h1>

<form method="POST">
    <input type="text" name="burger" />
    <button type="submit">Submit</button>
</form>

<p>
    Enter a burger you want to eat,<br />
    then click "Submit"!
</p>