<img src="http://i.imgur.com/xEzDGrP.png" alt="tiny bob holding his burger in a red and white checkered apron" style="width:200px" />

<h1>Eat-Da-Burger!</h1>

{{!-- UNDEVOURED --}}
<ul>
    {{#each burgers}}
        {{#unless this.devoured}}
            <li>
                {{this.burger_name}}

                <form method="POST" action="burgers/delete/{{this.id}}?_method=DELETE">
                    <input type="hidden" name="devoured" value="true" />
                    <button type="submit">Devour it!</button>
                </form>

                {{!-- {{> burgers/delete-burger}} --}}
            </li>
        {{/unless}}
    {{/each}}
</ul>

{{!-- DEVOURED --}}
<ul>
    {{#each burgers}}
        {{#if this.devoured}}
            <li>
                {{this.burger_name}}

                <form method="POST" action="burgers/put/{{this.id}}?_method=PUT">
                    <input type="hidden" name="devoured" value="false" />
                    <button type="submit">Throw it up!</button>
                </form>
            </li>
        {{/if}}
    {{/each}}
</ul>

<form method="POST" actipn="burgers/create">
    <input type="text" name="burger" />
    <button type="submit">Submit</button>
</form>

<p>
    Enter a burger you want to eat,<br />
    then click "Submit"!
</p>